#!/bin/bash

# kill prev process
ps -ef | grep '<user>.*npm start' | awk '{print $2}' | head -n 1 | xargs kill
ps -ef | grep '<user>.*next-server' | awk '{print $2}' | head -n 1 | xargs kill

cd <path/to/nextjs/directory>

# getting latest updated
git restore .
git pull origin dev

# build and run
npm i
npm run build
npm start &
